:root {
    --bg-color: #0f172a;
    --main-color: #fff;
    --accent-color: #3eb5bb;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

body {
    color: var(--main-color);
    font-family: 'Share Tech Mono', monospace;
    background: var(--bg-color);
}

p {
    line-height: 2.0;
}

#main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: var(--accent-color);
    font-size: 7em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0.25em;
}

h3 {
    margin-top: 1em;
    letter-spacing: .15rem;
    font-size: 1.6em;
    position: relative;
}

h3::after {
    content: "";
    height: 4px;
    width: 12px;
    position: absolute;
    bottom: 1px;
    background: var(--main-color);
    animation: blink 0.5s linear 0s infinite alternate;
}

h4 {
    margin-bottom: 1em;
    position: relative;
    color: var(--accent-color);
    letter-spacing: .15rem;
    font-size: 2rem;
    opacity: 0;
}

h4::after {
    content: "";
    height: 4px;
    width: 12px;
    position: absolute;
    bottom: 3px;
    right: -12px;
    background: var(--accent-color);
    animation: blink 0.5s linear var(--animation-delay) infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

h5 {
    color: var(--accent-color);
    font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 2.25em;
    }
    h3 {
        font-size: 1.4em;
    }
}

header {
    height: 11vh;
    width: 100%;
    padding: 0 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav {

    ul {
        display: flex;
        gap: 0 2em;
    }
    
    a {
        padding-bottom: 0.2em;
        color: var(--main-color);
        font-size: 1.4em;
        position: relative;
        transition: 0.3s ease-out;
    }

    a::after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -1px;
        left: 0;
        border-bottom: 1px solid var(--accent-color);
        transition: transform 0.3s ease-in;
        transform: scaleX(0);
        transform-origin: bottom right;
    }

    a:hover {
        color: var(--main-color);
    }

    a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    a#active {
        color: var(--main-color);
        border-bottom: 1px solid var(--accent-color);
    }

}

/* MOBILE NAV */

.menu-toggle {
    display: none; /* Hide the sandwich menu by default */
}

.bar {
    width: 25px;
    height: 2px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: 0.3s;
}

/* Change to X shape */
.mobile-nav .bar:nth-child(1) {
    transform: rotate(45deg) translate(7.25px, 4px);
}

.mobile-nav .bar:nth-child(2) {
    opacity: 0;
}

.mobile-nav .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7.25px, -4px);
}

@media only screen and (max-width: 600px) { 

    body.mobile-nav {
        overflow: hidden;
    }

    .menu-toggle {
        display: block;
        position: relative;
        top: 0;
        right: 0;
        cursor: pointer;
        z-index: 1001;
    }

    nav {
        
        ul {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            position: fixed;
            top: 0;
            right: 0;
            background-color: var(--bg-color);
            padding-top: 35%;
            z-index: 1000;
            transform: translateX(100%);
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;

            li {
                margin: 1em 0;
            }
        }
        
    }   

    ul.mobile-nav {
        transform: translateX(0);
        opacity: 0.95;
    }

}

/* MOBILE NAV END*/

main {
    min-height: 76vh;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}      

section#about, section#projects {
    width: 60vw;
}

@media only screen and (max-width: 600px) {

    section {
        width: 80vw !important;
    }
}

#about {
    #admin-pic {
        position: relative;
        display: flex;
        height: 100%;
        margin-left: 1em;
    }
    
    #admin-pic img {
        height: 280px;
    }
    
    #admin-pic::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: -1;
        border: 1px solid var(--accent-color);
    }

    #about-inner {
        display: flex;
    }

    #about-info {
        padding-right: 3em;
    }

    ul{
        width: 12em;
        margin-top: 1em;
        display: flex;
        flex-wrap: wrap;

        li{
            width: 50%;
            padding: 0.2em;
            flex-wrap: wrap;
            font-family: monospace;
        }

        li::before {
            content: "> ";
            color: var(--accent-color);
        }
    }
}

#projects {

    margin-top: 2.5em;

    article {
        margin-left: 8px;
        margin-bottom: 3em;
        display: flex;
        
        figure {
            position: relative;
            display: flex;
            height: 100%;
        
            img {
                width: 250px;
            }

        }
        figure::after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 8px;
            right: 8px;
            border: 1px solid var(--accent-color);
            z-index: -1;
        }
    }
    .project-content {
        padding: 0 0 0.5em 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
            p{
                font-size: 0.9em;
            }        
    }

    ul{
        margin-top: 1em;
        display: flex;
        gap: 0 0.4em;

        li {
            font-family: monospace;
        }

        li:not(:first-child)::before {
            content: "> ";
            color: var(--accent-color);
        }
    }
}

/* MOBILE UI CHANGES */
@media only screen and (max-width: 600px) {

    #about, #projects {
        margin-top: 2.5em;
    }

    #about-inner, section article {
        flex-wrap: wrap;
    }
    
    #about-inner #admin-pic {
        margin-top: 3em;
        margin-left: 0;
    }

    section#projects article .project-content {
        margin-top: 2em;
        padding-left: 0;
    }

    section#about {
        margin-bottom: 2em;
    }

    .project-content p {
        margin-top: 1em;
    }
}

/* MOBILE UI CHANGES END */

#contact {
    #email::before {
        content: "> ";
        color: var(--accent-color);
    }
    #email {
        margin-top: 1em;
        font-size: 1.2em;
        font-family: monospace;
        transition: 0.2s ease;
    }
    #email:hover {
        margin-left: 0.5em;
    }
}

footer {
    height: 13vh;
    width: 100%;
    padding: 0 1.25em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
}

footer a:hover svg path{
    fill: #A6BEEE;
}
