:root {
    --main-bg-color: #0f172a;
    --main-color: #fff;
    --accent-color: #3eb5bb;
    --link-color: #ccc;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

body {
    color: var(--main-color);
    font-family: 'Share Tech Mono', monospace;
    background: var(--main-bg-color);
}

p {
    line-height: 2.0;
}

#main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    height: 11vh;
    width: 100%;
    padding: 0 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--accent-color);
    font-size: 7em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0.25em;
}

h3 {
    margin-top: 1em;
    letter-spacing: .15rem;
    font-size: 1.6em;
    position: relative;
}

h4 {
    margin-bottom: 1em;
    position: relative;
    color: var(--accent-color);
    letter-spacing: .15rem;
    font-size: 2rem;
}

h4::after {
    content: "";
    height: 4px;
    width: 12px;
    position: absolute;
    bottom: 3px;
    right: -12px;
    background: var(--accent-color);
    animation: blink 0.5s linear var(--animation-delay) infinite alternate;
}

h3::after {
    content: "";
    height: 4px;
    width: 12px;
    position: absolute;
    bottom: 1px;
    right: -12px;
    background: var(--main-color);
    animation: blink 0.5s linear 0s infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

h5 {
    color: var(--accent-color);
    font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 2.25em;
    }
    h3 {
        font-size: 1.4em;
    }
    h3::after {
        position: absolute;
        bottom: 1px;
        right: 112px;
    }
}

nav ul {
    display: flex;
    gap: 0 2em;
}

nav a {
    padding-bottom: 0.2em;
    color: var(--link-colour);
    font-size: 1.4em;
    position: relative;
    transition: 0.3s ease-out;
}

nav a::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-bottom: 1px solid var(--accent-color);
    transition: transform 0.3s ease-in;
    transform: scaleX(0);
    transform-origin: bottom right;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav a:hover {
    color: var(--main-color);
}

nav a#active {
    color: var(--main-color);
    border-bottom: 1px solid var(--accent-color);
}

/* Add styles for the sandwich menu */
.menu-toggle {
    display: none; /* Hide the sandwich menu by default */
    cursor: pointer;
}

.bar {
    width: 27px;
    height: 2px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: 0.3s;
}

/* Change to X shape */
.change .bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(7.25px, 4px);
    transform: rotate(45deg) translate(7.25px, 4px);
}

.change .bar:nth-child(2) {
    opacity: 0;
}

.change .bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(7.25px, -4px);
    transform: rotate(-45deg) translate(7.25px, -4px);
}



/* Media query for mobile screens */
@media only screen and (max-width: 600px) {
    .menu-toggle {
        display: block; /* Show the sandwich menu on mobile screens */
    }

    nav ul {
        display: none; /* Hide the navigation links by default on mobile */
    }

    ul.show {
        display: flex; /* Show the navigation links when the menu is toggled */
        flex-direction: column;
        position: absolute;
        background-color: var(--main-bg-color);
        width: 100%;
        top: 80px;
        left: 0;
    }

    ul.show li {
        text-align: center;
        padding: 0.35em 0;
    }

    main {
        margin-bottom: 2em;
        transition: margin-top 0.3s ease;
    }

    main.pushed-down {
        margin-top: 140px; /* Adjust this value based on your menu height */
    }
}

main {
    min-height: 76vh;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}      

section#about, section#projects {
    width: 60vw;
}

section#projects {
    margin-top: 2.5em;
}

section#about #about-inner {
    display: flex;
}

section#about #about-info {
    padding-right: 3em;
}

/* Add a media query for mobile screens */
@media only screen and (max-width: 600px) {

    section {
        margin-top: 2em;
        width: 80vw !important;
    }

    section#about #about-inner, section article {
        flex-wrap: wrap; /* Allow items to wrap onto the next line */
    }
    
    #about-info {
        flex-basis: 100%; /* Set flex basis to 100% for full width on mobile */
    }
    
    #about-inner #admin-pic {
        flex-basis: 100%; /* Set flex basis to 100% for full width on mobile */
        margin-top: 2em; /* Add margin top to separate admin-pic on mobile screens */
        margin-left: 0;
    }

    section#projects article .project-content {
        margin-top: 2em;
        padding-left: 0;
    }

    .project-content p {
        margin-top: 1em;
    }
}

section#about ul{
    width: 12em;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
}

section#about li{
    width: 50%;
    padding: 0.2em;
    flex-wrap: wrap;
    font-family: monospace;
}

section#about li::before {
    content: "> ";
    color: var(--accent-color);
}

#admin-pic {
    position: relative;
    margin-left: 1em;
}

#admin-pic img {
    height: 280px;
    width: 215px;
}

#admin-pic::after {
    content: "";
    height: 280px;
    width: 215px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1;
    border: 1px solid var(--accent-color);
}

section#projects article {
    margin-left: 8px;
}

section#projects article figure {
    position: relative;
}

section#projects article figure::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid var(--accent-color);
    z-index: -1;
}

section#projects article figure img {
    width: 250px;
}

section#projects article {
    display: flex;
    margin-bottom: 3em;
}

section#projects .project-content {
    padding: 0 0 0.5em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#projects .project-content p{
    font-size: 0.9em;
}

section#projects article ul{
    margin-top: 1em;
    display: flex;
}

section#projects article ul li {
    padding: 0 0.4em;
    font-family: monospace;
}

section#projects article ul li::before {
    content: "> ";
    color: var(--accent-color);
}

section#projects article ul li:first-child::before {
    content: "";
}

section#projects article ul li:first-child {
    padding-left: 0;
}

section#projects article ul li:last-child {
    padding-right: 0;
}

a#email::before {
    content: "> ";
    color: var(--accent-color);
}

a#email {
    margin-top: 1em;
    font-size: 1.2em;
    font-family: monospace;
    transition: 0.2s ease;
}

a#email:hover {
    margin-left: 0.5em;
}

footer {
    height: 13vh;
    width: 100%;
    padding: 0 1.25em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer a {
    margin-left: 1.5em;
}